services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8080:80"

    volumes:
      - /srv/filebrowser/storage:/srv
      - ./filebrowser/db:/database
      - ./filebrowser/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Tehran
